body {
    background-color: #141414;
}

/* Header Nav */

nav.navbar {
    background-color: #141414 !important;
}

.nav-link {
    color: white !important;
    font-weight: 400;
}

.nav-link.active {
    font-weight: 700
}

nav.navbar img {
    height: 45px
}

nav .right-navbar ul {
    color: white;
    list-style: none;
    padding: 0;
}

nav .right-navbar li.dropdown img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

/* ----- Main ----- */

/* Top Title */

.topTitle {
    color: white
}

.topTitle ul li {
    list-style: none;
    display: flex;
    width: fit-content;
}



.topTitle .left-container ul a.nav-link {
    border: 2px solid rgb(181, 181, 181);
    padding: 5px 7px;
    background-color: black;
    /* position: absolute;
    top: -10px; */
    font-weight: 500
}

.topTitle .right-container i {
    border: 2px solid white;
    padding: 8px 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    cursor: pointer;
    font-size: 0.8em
}


/* ----- Sections ----- */
section h3.title {
    color: white;
    font-size: 1.25em
}

/* SlideJS */

:root {
    --swiper-navigation-color: #ffffff;
    --swiper-navigation-size: 40px;

}

.swiper-button-next,
.swiper-button-prev {
    opacity: 0.4;
}

section .swiper-slide {
    cursor: pointer;
}

/* Animazione all'hover della slide */

@keyframes pulse {
    from {
        transform: scale(0.97);
    }

    to {
        transform: scale(1.01);
    }
}


section .swiper-slide:hover {
    animation: pulse 0.5s infinite ease-in-out alternate;
    transform-origin: top center;
    z-index: 10;
}

section .swiper-slide.swiper-slide-active:hover {
    transform-origin: top left !important;
}

section .swiper-slide.swiper-slide-fully-visible:has(+ .swiper-slide:not(.swiper-slide-fully-visible)):hover {
    transform-origin: top right !important;
}

.swiper-slide {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.swiper-slide.swiper-slide-fully-visible+.swiper-slide:not(.swiper-slide-fully-visible) {
    opacity: 0.3;
}



@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}


.section-fade {
    animation: fade 0.5s infinite ease-in-out alternate;

}